[submodule "linux"]
	path = linux
	url = git@github.com:rosalab/linux.git
	branch = inner_unikernels
[submodule "rust"]
	path = rust
	url = git@github.com:xlab-uiuc/rust.git
	branch = inner-unikernel-dev
